.Modal {
  display: block !important;
  .modal_content {
    width: max-content !important;
  }

  .Modal_title {
    font-size: 23px;
    font-weight: 500;
    color: #252733;
  }

  .Modal_body {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-between;

    .Functionalimprovment_col {
      //   padding: 0 15px;
      h5 {
        font-weight: 700;
        font-size: 20px;
        color: #25282b;

        padding: 10px 0;
      }

      .Inputlist {
        .Inputlist_con {
          display: flex;
          align-items: center;
          margin-bottom: 8%;

          label {
            font-weight: 400;
            font-size: 14px;
            color: #6d6b80;

            padding-left: 10px;
          }
        }
      }
    }

    .Adl_col {
      // width: 370px;
      padding: 0 15px;
      h5 {
        font-weight: 700;
        font-size: 18px;
        color: #25282b;

        padding: 10px 0;
      }

      .Inputlist {
        .Inputlist_con {
          margin-bottom: 8%;

          label {
            font-weight: 400;
            font-size: 16px;
            color: #6d6b80;

            padding-bottom: 5px;
          }

          input {
            border: none;

            width: 100%;
            background: #fcfcfd;
            border: 1px solid #cfd0d7;
            border-radius: 2px;

            padding: 8px;
          }

          select {
            border: none;

            width: 100%;
            background: #fcfcfd;
            border: 1px solid #cfd0d7;
            border-radius: 2px;

            padding: 8px;
          }

          textarea {
            border: none;

            width: 100%;
            background: #fcfcfd;
            border: 1px solid #cfd0d7;
            border-radius: 2px;

            padding: 8px;
          }
        }
      }
    }
  }

  .Modal_footer {
    button {
      border: none;
      outline: none;
      background: transparent;

      padding: 4px 30px;
      margin-top: 5%;

      color: #fff;
      background: #336cfb;
      border-radius: 6px;
    }
  }
}

.modal-dialog {
  margin: 0 !important;
}

.Formtab_titles {
  padding: 20px 45px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  background: #f6f8fb;

  .Tab {
    h4 {
      font-size: 14px;
      font-weight: 700;
      color: #52575c;
    }
  }
}

.modalForm {
  label {
    color: grey;
    font-size: 14px;
    margin-top: 12px;
  }
  select {
    appearance: initial;
  }
  select,
  input {
    outline: none;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid #558efe;
    }
  }
}
