.Formtab_titles {
  padding: 20px 45px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  background: #f6f8fb;

  .Tab {
    list-style: none;

    h4 {
      font-size: 14px;
      font-weight: 700;
      color: #52575c;

      padding: 8px;
    }
  }
}

.Form {
  // padding: 45px;

  .Header_section {
    h3 {
      font-size: 20px;
      font-weight: 700;
      color: #25282b;

      padding: 20px 0;
    }

    .Inputflex {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      .Input_cont {
        width: 32%;

        label {
          font-size: 14px;
          font-weight: 500;
          color: #5f6377;

          padding-bottom: 10px;
        }

        .Inputgroup {
          span {
            border: none;
            outline: none;
            background: none;

            font-weight: bold;
            border: 1px solid #cfd0d7;
            border-right: none;
          }

          input {
            border: none;
            outline: none;

            border: 1px solid #cfd0d7;
            border-left: none;
            border-radius: 2px;
          }
        }
      }
    }
  }
}

.Form {
  .Toprow {
    display: flex;
    flex-wrap: wrap;

    margin-top: 3%;
    // align-items: center;
    // justify-content: space-between;

    .Paincard {
      background: #fff;
      // box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.418);

      border: 3px solid rgba(0, 0, 0, 0.199);
      // border-radius: 8px;

      padding: 15px;
      margin-bottom: 3%;

      .Title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          font-family: "Lato";
          font-weight: 700;
          font-size: 20px;
          color: #25282b;
        }
      }

      .Checkbox {
        display: flex;
        align-items: center;

        h4 {
          font-family: "Roboto";

          margin: 0;
          padding-left: 10px;

          font-weight: 400;
          font-size: 16px;
          color: #6d6b80;
        }
      }

      .Inputgroup {
        margin: 20px 0;

        margin-bottom: 2%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        label {
          font-weight: 400;
          font-size: 15px;
          color: #6d6b80;

          padding-bottom: 2%;
        }

        input {
          width: 100%;

          margin-top: 1%;

          padding: 6px 10px;

          background: #fcfcfd;
          border: 1px solid #cfd0d7;
          border-radius: 2px;
        }

        textarea {
          width: 100%;

          margin-top: 1%;

          padding: 4px 10px;

          background: #fcfcfd;
          border: 1px solid #cfd0d7;
          border-radius: 2px;
        }
      }

      .Checkboxcont {
        width: 58%;
        padding: 15px 0;

        display: flex;
        justify-content: space-between;
      }
    }
  }

  .Button {
    padding: 20px;

    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      outline: none;
      background: transparent;

      padding: 4px 30px;

      color: #fff;
      background: #336cfb;
      border-radius: 6px;
    }
  }
}

.Modal {
  background: rgba(0, 0, 0, 0.9);

  .Modal_header {
    background: rgba(0, 0, 0, 0.9);

    border-bottom: none;

    color: #ffffff;
  }

  .Modal_body {
    background: rgba(0, 0, 0, 0.9);

    .Body_parts_col {
      display: flex;
      justify-content: space-between;

      margin-bottom: 3%;

      .Body_parts_tab {
        text-align: center;
        padding: 20px 0;
        background: #ffffff;
        box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
        border-radius: 23px;

        .Label {
          h4 {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;

            padding-top: 10px;

            color: #25282b;
          }
        }
      }
    }
  }

  .Modal_footer {
    background: rgba(0, 0, 0, 0.9);

    border-top: none;

    button {
      border: none;
      outline: none;
      background: transparent;

      padding: 4px 30px;
      margin-top: 5%;

      color: #fff;
      background: #336cfb;
      border-radius: 6px;
    }
  }
}
