.Sidenav {
  // background: #fff;
  box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px 0px 20px 20px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  .Logo {
    padding: 20px 0;

    padding-bottom: 45px;
  }

  .Navpills {
    padding-top: 30px;

    width: 100%;

    .Navitem {
      padding: 15px 0 15px 22px;

      display: flex;
      align-items: center !important;
      justify-content: space-between;

      a {
        color: #a2a4b9;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        text-decoration: none;

        span {
          padding-left: 15px;
        }
      }
    }

    .Navitemdropdown {
      .Navitemcollapse {
        border: none;
        min-width: 12.5rem;

        transition: 0.3s;
        -webkit-transition: all 0.3s ease 0s;

        li {
          background-color: #fff !important;
          &:hover {
            background-color: #558eff !important;

            a {
              color: #fff;
            }
          }

          &:focus {
            background-color: #558eff !important;

            a {
              color: #fff;
            }
          }

          &:active {
            background-color: #558eff !important;

            a {
              color: #fff;
            }
          }
        }
      }
      a {
        color: #a2a4b9;
        font-size: 16px;
        font-weight: 400;

        padding: 13px;

        display: flex;
        align-items: center !important;
        justify-content: space-between;

        text-decoration: none;

        span {
          padding-left: 15px;
        }
      }
    }
  }

  .Logout {
    margin-top: 12%;

    .Navitem {
      a {
        color: #a2a4b9;
        font-size: 16px;
        font-weight: 400;

        padding: 5px;

        display: flex;
        align-items: center !important;
        justify-content: space-between;

        text-decoration: none;

        span {
          padding-left: 15px;
        }
      }
    }
  }
}

.Dropdownbutton {
  background: transparent;
  border-color: transparent;

  padding: 0;
  padding: 15px 0;

  color: #a2a4b9;
  font-size: 16px;
  font-weight: 400;
  // display: flex;
  // align-items: center !important;
  // justify-content: space-between;
  text-decoration: none;

  .Dropdownmenu {
    min-width: 13rem;
  }

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    border-color: transparent;

    color: #a2a4b9;
  }

  .Navlink {
    &:active,
    &:focus,
    &:hover {
      background: #558eff;

      color: #fff;
    }
  }

  // span {
  //   padding-right: 15px !important;
  // }
}

.Accordition {
  width: 100%;

  .Dropdownbutton {
    padding: 0;
  }

  .Accorditionbody {
    padding: 0;

    .Navlink {
      padding: 10px 20px !important;
      // border: 3px solid blue;
    }
  }
}

@media (max-width: 575px) {
  .Sidenav {
    height: 100px;

    border-radius: 0;
  }

  .Logo {
    padding: 0px !important;

    padding-bottom: 0 !important;
    width: 50px;
  }

  .Navpills {
    padding: 0 !important;

    .Navitem {
      padding: 0 8px !important;
    }
  }

  .Navitemdropdown {
    a {
      padding: 0 !important;
    }
  }

  .Accordition {
    width: 13%;
  }
}
