.Evaluationcon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .Cardcon {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-between;

    .Card {
      background: #fff;
      box-shadow: 0px 12px 26px rgba(16, 29, 115, 0.096);
      border-radius: 8px;

      padding: 20px;
      width: 202px;
      height: 150px;
      margin-bottom: 5%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-weight: 500;
        font-size: 15px;
        color: #25282b;
      }
    }
  }

  .Textbox {
    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #5f6377;
    }

    textarea {
      width: 95%;

      text-indent: 15px;

      background: #fcfcfd;
      border: 1px solid #cfd0d7;
      border-radius: 2px;
    }
  }
}
